<div class="full-width-container">
    <h3>Create visualizations using Python or R code</h3>
    
    <div class="split-layout">
      <div class="left-panel">
        <app-viz-form (submit)="onSubmit($event)"></app-viz-form>
      </div>
      
      <div class="right-panel">
        <app-viz-display
          [visualizationPath]="visualizationPath"
          [loading]="loading"
          [error]="error"
          [isInteractive]="isInteractive"
        ></app-viz-display>
      </div>
    </div>
  </div>